
* {
     box-sizing: border-box
}

.clear::after {
     content: "";
     display: table;
     clear: both;
}

body {
     width:80%;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     color: #777777;  
     font-size: 16px;
     margin: 0 auto;
     padding: 0;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     line-height: 25px;
     background-color:rgb(245, 237, 237)
     

}
li{
     font-weight: bold;
     font-size:18px;
     line-height: 40px;

}
h1{
     font-size:30px
}



p {
     padding: 8px 20px;
}

img {
     width: 10%;
     height:150px;
     transition: all 1s;
     margin:10px;
}

img:hover {
     transform: scale(1.1);
}
header{
     width:100%;
     height:100px;
     background-color: rgb(192, 128, 68);
     color:brown;
     text-align:center;
     padding:20px;
     

}
section{
     width:100%;
     height:200px;
     margin:0 60px;

}

.scores{
    
     color:black; 
     font-size:30px;
     margin:10px;     
     width: 20%;
     height:150px;
     display:inline-block;
     background-color:green;
     float:left;
     text-align:center;
     padding:20px;
}
#randomNumber, #total-score, #win, #loss{
     font-size:30px;
     margin-top:20px;
     color:white;
}
/* break point at 500 or less view point */
@media  screen and (max-width: 768px) {
      #win, #loss{
          margin-top:45px;
          color:white
   }
   #randomNumber, #total-score{
          margin-top:20px;
          color:white
   }
   .scores{
    
     color:black; 
     font-size:20px;
     margin:10px;     
     width: 20%;
     height:150px;
     display:inline-block;
     background-color:green;
     float:left;
     text-align:center;
     padding:20px;
}
section{
     width:100%;
     height:200px;
     margin:0 10px;

}
img{
     width:20%;
}
}